<h1>Listing Books</h1>
<table class="table">
  <tr>
    <td></td>
    <td><b>Title</b></td>
    <td><b>Gender of<p>Main Character</b></td>
    <td><b>Gender of<p>Title Character</b></td>
  </tr>
<%= for book <- @books do %>
<tr>
  <td><%= book.id %>:</td>
  <td><%= book.title %></td>
  <td><%= book.mainChar %></td>
  <td><%= book.titleChar %></td>
  <td><%= link "View", to: book_path(@conn, :show, book.id) %></td>
</tr>
<% end %> </table>
