<h3> <%= @book.id %>: <%= @book.title %></h3>
<table class="table">
<tr>
  <td><b>Gender of the Main Character:<b></td>
  <td><%= @book.mainChar %></td>
</tr>
<tr>
  <td><b>Gender of the Title Character:<b></td>
  <td><%= @book.titleChar %></td>
</tr>
