<h2>Which book did you read?</h2>

<b><%= link "Cancel", to: reading_path(@conn, :index) %></b>

<%= render "form.html", books: @books, changeset: @changeset, conn: @conn,
                        action: reading_path(@conn, :create) %>
